<button routerLink="/programs/new-activity" mat-stroked-button color="primary">
  <mat-icon aria-label="New Activity">add</mat-icon>
  <span>New Activity</span>
</button>

<div *ngIf='(programs$ | async)?.programs?.length < 1'>

</div>

<div *ngIf='(programs$ | async)?.programs?.length> 0'>
  <div>
    <br>
    <strong>
      <span>{{(programs$ | async)?.programs.length}} programs </span>
    </strong>
    <br>
  </div>

  <mat-nav-list>
    <mat-list-item (click)="openProgram(program)" *ngFor='let program of (programs$ | async)?.programs'>
      {{program.name}}
    </mat-list-item>
  </mat-nav-list>

</div>
