.add-button {
  position: absolute;
  right: 0px;
  margin-right: 10px;
}

.inline-display{
display: inline-block;
}

.dividerMargins{
margin: 10px 0px;
}

.delete-button {
  position: absolute;
  right: 0;
  top: 0;
  margin: 10px;
}